<%layout('./layout/page.ejs') %>
<% if(user) {%>
    <h1>Привет, <%= user.username %></h1>
    <% }else{ %>
    <h1>Привет, незалогиненный пользователь</h1>
    <% } %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p>
<p><b>Кошки — это не просто домашние животные, а настоящие члены семьи, которые дарят нам любовь и радость. Каждая порода имеет свои уникальные черты, и мы готовы помочь вам выбрать идеального пушистого друга. На нашем сайте вы найдете информацию о том, как выбрать породу, которая идеально подойдет вашему образу жизни.</b>
</p>
<img src="<%= picture %>" alt=""/>